footer {
    grid-area: footer;
    background-color: rgb(162, 32, 32);
    background-image: linear-gradient(to top, black , rgb(162, 32, 32));
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
 }


 .Creditos {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 50%;
} 

.texto_creditos{
    margin-left: 20%;
    font-size:x-large;

}


@media screen and (max-width: 480px) {


.imgContacto {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    img {
        margin-left: 2%;
        margin-right: 2%;
    
        width: 20%;
        height: 50%;

        &:hover {
            transform: translate(6px, -6px);
        }
    }        
}
}

@media screen and (min-width: 480px) {


    .imgContacto {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    
        img {
            margin-left: 2%;
            margin-right: 2%;
        
            width: 10%;
            height: 80%;
    
            &:hover {
                transform: translate(6px, -6px);
            }
        }        
    }
    }